.container {
  position: relative;
  height: 100vh;
  background: var(--backgroundPage);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.container > div {
  flex-basis: 70%;
}

.container > svg {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  fill: var(--backgroundPage);
  stroke: var(--backgroundPage);
}

.container > svg:nth-of-type(1) {
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.container > svg:nth-of-type(2) {
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 650px) {
  .container > div {
    flex-basis: 90%;
  }

  .container > svg:nth-of-type(1) {
    top: 80%;
    left: 40%;
  }

  .container > svg:nth-of-type(2) {
    top: 80%;
    left: 60%;
  }
}

@media only screen and (max-width: 450px) {
  .container > svg:nth-of-type(1) {
    top: 70%;
    left: 40%;
  }

  .container > svg:nth-of-type(2) {
    top: 70%;
    left: 60%;
  }
} 