.container {
    width: 100%;
    height: 100vh;
    background: var(--backgroundPage);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;align-items: center;
}

.skill {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.skill > h1 {
    font-size: 1.5rem;
    font-family: var(--fontGlobal);
    padding: .8em;
    white-space: nowrap;
}