.container {
  font-family: var(--fontGlobal);
  height: 100vh;
  background: linear-gradient(
    0deg,
    var(--backgroundPage) 0%,
    rgba(250, 245, 245, 1) 63%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
}

.first {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1.5em;
}
.icons a > svg {
  padding: 3px;
  fill: #383838;
  width: 30px;
  height: 30px;
}

.icons a:hover > svg {
  padding: 3px;
  background-color: #00000077;
  fill: aliceblue;
  border-radius: 7px;
}

a[href="#contact"],
a[download="Bryan Ramos Vargas CV"] {
  color: #000000;
  font-family: var(--fontGlobal);
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.second {
  height: 100%;
  flex-basis: 80%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 1em;
}

.me {
  color: #000000;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1em;
}

.me > h2 {
  opacity: 0;
  font-size: 3rem;
  font-weight: 500;
  white-space: nowrap;
  animation: move 1s ease-in-out 1s;
  animation-fill-mode: forwards;
}

.me > p {
  opacity: 0;
  font-size: 2rem;
  letter-spacing: 0.2em;
  font-weight: 300;
  white-space: nowrap;
  animation: move 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.image {
  width: 520px;
  height: 400px;
  object-fit: contain;
  overflow: hidden;
}

@media only screen and (min-height: 720px) {
  .second {
    gap: 2em;
  }

  .icons {
    gap: 5em;
  }
}

@media only screen and (min-height: 1000px) {
  .second {
    gap: 9em;
  }

  .icons {
    gap: 9em;
  }
}

@media only screen and (max-width: 850px) {
  .me > h2 {
    font-size: 2rem;
  }

  .me > p {
    font-size: 1rem;
  }

  .image {
    width: 420px;
    height: 300px;
  }

  .image > img {
    width: 470px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-flow: column-reverse nowrap;
  }
  .icons {
    flex-flow: row-reverse nowrap;
    gap: 2em;
  }
  .first {
    flex-basis: 30%;
  }
  .second {
    flex-basis: 70%;
  }
  .me > h2 {
    font-size: 1.3rem;
  }

  .me > p {
    font-size: 0.8rem;
  }

  .image {
    width: 250px;
    height: 180px;
  }

  .image > img {
    width: 290px;
  }

  a[href="#contact"],
  a[download="Bryan Ramos Vargas CV"] {
    font-size: 1rem;
  }
}
