.container {
  font-family: var(--fontGlobal);
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      var(--backgroundPage) 0%,
      transparent 100%
    ),
    url(../../assets/reactjs-code.avif);
  /* background-attachment: fixed; */
  background-size: cover;
  padding-bottom: 4em;

  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  gap: 3em;
}

.container > h2,
.container > p {
  opacity: 0;
  white-space: nowrap;
  text-shadow: 0 0 15px black, 0 0 15px black, 0 0 15px black, 0 0 15px black,
    0 0 5px black;
}

.container > h2 {
  font-size: 4rem;
  animation: move 1s ease-in-out 1.5s;
  animation-fill-mode: forwards;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.container > p {
  font-size: 2.6rem;
  letter-spacing: 0.3em;
  animation: move 1s ease-in-out 1s;
  animation-fill-mode: forwards;
  font-weight: 300;
  font-style: italic;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.icons {
  width: 90%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--backgroundPage) 50%,
    transparent 100%
  );
  padding: 3px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.icons > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.enter {
  color: white;
  opacity: 0;
  animation: enter 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

.out {
  color: white;
  opacity: 0;
  animation: out 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes enter {
  0% {
    font-size: 0;
    transform: translateX(-100%);
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    font-size: 1rem;
  }
}
@keyframes out {
  0% {
    opacity: 1;
    transform: translateX(0);
    font-size: 1rem;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    font-size: 0;
    transform: translateX(-100%);
  }
}

.icons > a > svg {
  padding: 3px;
  fill: var(--backgroundPage);
  fill: #7c2828;
  width: 35px;
  height: 35px;
}

.icons > a:hover > svg {
  padding: 3px;
  background-color: #7c2828;
  fill: #ffffff;
  border-radius: 7px;
}

@media only screen and (max-width: 850px) {
  .container > h2 {
    font-size: 3rem;
  }

  .container > p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .container > h2 {
    font-size: 2rem;
  }

  .container > p {
    font-size: 1.5rem;
  }

  .icons {
    width: 80%;
    gap: 1.1em;
  }

  .icons > a > svg {
    width: 25px;
    height: 25px;
    padding: 2px;
  }
  .icons > a:hover > svg {
    padding: 2px;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    background-size: cover;
    background-position: center top;
  }

  .container > h2 {
    font-size: 1.5rem;
  }

  .container > p {
    font-size: 1rem;
  }

  .out {
    color: white;
    opacity: 0;
    animation: enter 0.2s ease-in-out;
    animation-fill-mode: forwards;
  }
}
