.container {
  position: fixed;
  z-index: 999;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  margin: 1em;
  padding: .4em 5em;
  background-color: #0000004b;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 100px;
  display: flex;
  width: 400px;
  min-width: 300px;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000023;
  font-size: 1.1rem;
  color: #ffffff;
  padding: .5em;
  border-radius: 50%;
  transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  -webkit-transition: var(--transition);
}

.link > svg {
  width: 20px;
  height: 20px;
  fill: #c7c7c7;
  -webkit-text-fill-color: #c7c7c7;
}

.link:hover {
  background-color: #1d1d1d;
}

.link:hover > svg {
  fill: white;
  -webkit-text-fill-color: #ffffff;
}

.active {
  background-color: #4700009a;
}

.active:hover {
  background-color: #4700009a;
}

.active > svg {
  fill: #ffffff;
  -webkit-text-fill-color: #ffffff;
}

.active:hover > svg {
  fill: #ffffff;
  -webkit-text-fill-color: #ffffff;
}
