.container {
  position: fixed;
  z-index: 999;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  padding: .4em 5em;
  background-color: #0000004b;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 100px;
  width: 40%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10%;
}

.link {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #00000023;
  /* padding: .5em; */
  border-radius: 50%;
  transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  -webkit-transition: var(--transition);
}

.link > svg {
  width: 20px;
  height: 20px;
  fill: #c7c7c7;
  -webkit-text-fill-color: #c7c7c7;
}

.link:hover {
  background-color: #1d1d1d;
}

.link:hover > svg {
  fill: white;
  -webkit-text-fill-color: #ffffff;
}

.active,
.active:hover {
  background-color: #4700009a;
}

.active > svg,
.active:hover > svg {
  fill: #ffffff;
  -webkit-text-fill-color: #ffffff;
}
